*.rbc
*.sassc
.sass-cache
capybara-*.html
.yardoc
.bundle
cscope.*
.project
*.swp
**/*.pid
config/smtp_settings.rb
db/*.sqlite3
files/
log/*.log
tmp/**/*
*.project
*.sublime-project
*.sublime-workspace
.DS_Store
app/assets/.*

# ignore extra dump files
*.dump
*.psql

# ignore test files
test_mem_prod.rb
test_mem.rb

# ignore dotenv
.env
.env.production

# ignore elastic beanstalk docker file
Dockerrun.aws.json

# Local Database config
config/database.yml

# ignore experimental files
*.alpine*
*.old

# ignore keys
# *.pem

# ignore acme challenge
public/.well-known

# ignore database tool
update_database.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
