*.rbc
*.sassc
.sass-cache
capybara-*.html
.yardoc
.bundle
cscope.*
.project
*.swp
**/*.pid
config/smtp_settings.rb
db/*.sqlite3
files/
mysql2/
log/*.log
tmp/**/*
*.project
*.sublime-project
*.sublime-workspace
.DS_Store

***REMOVED***ignore database.yml
config/database.yml

***REMOVED*** ignore extra dump files
*.dump

***REMOVED***ignore hiddern files
.*
app/assets/.*