html, body { 
	background-color: ***REMOVED***fff; 
	color: ***REMOVED***333; 
	height: 100%;
	width: 100%;
}

* html ***REMOVED***container {
	height: 100%;
	width: 100%;
}

body, p, ol, ul, td {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size:   12px;
  color: ***REMOVED***333;
  margin: auto;
  width: 100%;
  cursor: default;
}

pre {
  background-color: ***REMOVED***eee;
  padding: 10px;
  font-size: 11px;
}

h2 {
  color: ***REMOVED***5b7f72;
  margin-top: 0px;
}

/**Layout**/

***REMOVED***everything{
	min-height: 100%;
	position: relative;
	width: 100%;
}

body > ***REMOVED***everything {
	height: auto;
	min-height: 100%;
}

***REMOVED***header{
	background-color: ***REMOVED***353d41;
	height: 89px;
	width: 100%;
}

***REMOVED***header_image{
	color: white;
	margin: auto;
	height: 89px;
	width: 1000px;
	background: url("../images/header_bg.gif") no-repeat;
}

***REMOVED***header_image a { 
display: block; 
height: 100%; 
width: 100%; 
}


***REMOVED***searchbar{
	position: relative;
	text-align: right;
	right: 0px;
	top: 20px;
}

***REMOVED***loginbar{
	position: relative;
	text-align: right;
	right: 0px;
	top: 10px;
	height: 30px;
}

***REMOVED***side{
	position: relative;
	float: right;
	right: 2em;
	top: -89px;
}

***REMOVED***side a{
	display: inline;
}

***REMOVED***header_tabs{
	background: ***REMOVED***a7d787;
	min-width: 1000px;
	height: 17px;
}

***REMOVED***tabs{
	width: 1000px;
	height: 17px;
	background: url("../images/header_stripe.gif") no-repeat;
	margin: auto;
}

***REMOVED***menu_bar{
	text-align: center;
}

***REMOVED***shadowdown{
	background: url('../images/trans_down.png');
	background-repeat: x-repeat;
	height: 13px;
	min-width: 1000px;
}

***REMOVED***content{	
	padding: 50px;
	padding-top: 30px;
	padding-bottom: 40px;
	/*position: relative;
	top: -159px;*/
}

***REMOVED***contentcenter{
	width: 900px;
	margin: auto;
}

***REMOVED***footer{
	/* hide the footer for now */
	display: none;
	
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;	
}

***REMOVED***footer_inside{
	/* hide the footer for now */
	display: none;

	color: gray;
	text-align: center;
	height: 40px;
}

***REMOVED***flash_error{
	color: ***REMOVED***FF0000;
	background: ***REMOVED***f9ffea;
	border: 1px solid ***REMOVED***F0FFD2;
	padding:10px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	width: 500px;
}

***REMOVED***flash_notice{
	color: ***REMOVED***339900;
	background: ***REMOVED***f9ffea;
	border: 1px solid ***REMOVED***F0FFD2;
	padding:10px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	width: 500px;
}

div.vertlist {
	padding-left: 30px; 
	line-height: 20px;
}

/**HOME**/

***REMOVED***browse_listings_menu{
	float: left;
	padding-left: 75px;
	margin-top: -10px;
	width: 200px;
	height: 30px;
	text-align: left;
}

***REMOVED***home_display{
	width: 898px;
	height: 203px;
}

***REMOVED***display_up{
	width: 898px;
	height: 144px;
	background: url("../images/research_match_display_01.png");
}

***REMOVED***display_left{
	position: relative;
	left: -295px;
	width: 308px;
	height: 59px;
	background: url("../images/research_match_display_02.png");
}

***REMOVED***display_mid{
	position: relative;
	margin-left: 308px;
	width: 254px;
	height: 59px;
	background: url("../images/research_match_display_03.png");

}

***REMOVED***display_right{
	width: 336px;
	height: 59px;
	background: url("../images/research_match_display_04.png");
}

***REMOVED***login_box{
	background: ***REMOVED***E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
	border: 1px solid ***REMOVED***F0FFD2;
	text-align: center;
	margin: auto;
	width: 300px;
}

.left_margin {
	margin-left: 40px;
}

/**Menu**/

***REMOVED***department_speech{
	display: none;
}
***REMOVED***department_speech_top{
	width: 163px;
	height: 32px;
	background: url("../images/research_department_speechbubble_01.png");
}

***REMOVED***department_speech_bot{
	width: 163px;
	height: 37px;
	background: url("../images/research_department_speechbubble_02.png");
	z-index: 10;
}

***REMOVED***create_job_hidden{
	display: none;
}

/**Dashboard**/

***REMOVED***dashboard_container{
	width: 900px;
}

***REMOVED***dashboard_container:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

h2***REMOVED***dashboard_header {
	padding-left: 15px;
}

/*smartmatch*/
***REMOVED***dashboard_wrapper_smartmatch{
	width: 60%;
	height: 100%;
	margin-bottom: 15px;
	border-left: 1px solid ***REMOVED***f5f5f5;
	border-right: 1px solid ***REMOVED***f5f5f5;
}

***REMOVED***dashboard_container_smartmatch{
	height: 100%;
	padding: 15px;
	background: ***REMOVED***E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
}

***REMOVED***dashboard_shadow_smartmatch{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
}

/*watched*/
***REMOVED***dashboard_wrapper_watched{
	float:right;
	clear: both;
	width: 37.5%;
	margin-bottom: 15px;
	border-left: 1px solid ***REMOVED***f5f5f5;
	border-right: 1px solid ***REMOVED***f5f5f5;
}
***REMOVED***dashboard_container_watched{
	padding: 15px;
	background: ***REMOVED***E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
}

***REMOVED***dashboard_shadow_watched{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
	z-index: 1000;
}

/*long*/
.dashboard_wrapper_long{
	margin-bottom: 15px;
	border-left: 1px solid ***REMOVED***f5f5f5;
	border-right: 1px solid ***REMOVED***f5f5f5;
}
.dashboard_container_long{
	padding: 15px;
	background: ***REMOVED***E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
}

.dashboard_shadow_long{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
}

/*jobs*/

span.tag {
	background-color: ***REMOVED***eaeaea;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0px;
}

.job_title{
	font-weight: bold;
}

.job_table {
	border: 0px;
	width: 100%;
}

.job_table_left {
	width: 50%;
}
.job_odd, .job_even {
	width: 100%;
	border-bottom: 1px solid ***REMOVED***abe68b;
}

.job_padding_wrapper{
	vertical-align: middle;
	padding: 3px;
}

.job_credit {
	text-align: center;
	width: 10%;
}

***REMOVED***browse_header_table{
	height: 40px;
	width: 100%;
	font-weight: bold;
}

.job_clear_table {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	color: ***REMOVED***333;
	border:0px;
}
.job_clear_table td {
	text-align:left;
	width:auto;
	padding:5px;
}
***REMOVED***job_clear_table_label {
	width:150px;
}
***REMOVED***job_clear_table_field {
	width:350px;
}

/**Links**/
a { 
	color: ***REMOVED***71c146; 
	text-decoration: none;
}

***REMOVED***header a {
	/* color: ***REMOVED***abe68b; */
	color: ***REMOVED***71c146;
}


a:hover {
	text-decoration: underline;
}
	

/**Error Formatting**/

.fieldWithErrors {
  color: red;
}

***REMOVED***errorExplanation {
  color: red;
}

/****REMOVED***errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: ***REMOVED***c00;
  color: ***REMOVED***fff;
}

***REMOVED***errorExplanation p {
  color: ***REMOVED***333;
  margin-bottom: 0;
  padding: 5px;
}

***REMOVED***errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}*/

