html, body { 
	background-color: ***REMOVED***fff; 
	color: ***REMOVED***333; 
	height: 100%;
	width: 100%;
}

* html ***REMOVED***container {
	height: 100%;
	width: 100%;
}

body, p, ol, ul, td {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size:   12px;
  margin: auto;
  width: 100%;
}

pre {
  background-color: ***REMOVED***eee;
  padding: 10px;
  font-size: 11px;
}

/**Layout**/

***REMOVED***everything{
	min-height: 100%;
	position: relative;
	width: 100%;
}

body > ***REMOVED***everything {
	height: auto;
	min-height: 100%;
}

***REMOVED***header{
	background-color: ***REMOVED***353d41;
	height: 89px;
	width: 100%;
}

***REMOVED***header_image{
	color: white;
	margin: auto;
	height: 89px;
	width: 1000px;
	background: url("../images/header_bg.gif") no-repeat;
}

***REMOVED***header_image a { 
display: block; 
height: 100%; 
width: 100%; 
}


***REMOVED***searchbar{
	position: relative;
	text-align: right;
	right: 0px;
	top: 20px;
}

***REMOVED***loginbar{
	position: relative;
	text-align: right;
	right: 0px;
	top: 10px;
	height: 30px;
}

***REMOVED***side{
	position: relative;
	float: right;
	right: 2em;
	top: -89px;
}

***REMOVED***side a{
	display: inline;
}

***REMOVED***header_tabs{
	background: ***REMOVED***a7d787;
	min-width: 1000px;
	height: 17px;
}

***REMOVED***tabs{
	width: 1000px;
	height: 17px;
	background: url("../images/header_stripe.gif") no-repeat;
	margin: auto;
}

***REMOVED***menu_bar{
	text-align: center;
}

***REMOVED***shadowdown{
	background: url('../images/trans_down.png');
	background-repeat: x-repeat;
	height: 13px;
	min-width: 1000px;
}

***REMOVED***content{	
	padding: 50px;
	padding-top: 30px;
	padding-bottom: 40px;
	/*position: relative;
	top: -159px;*/
}

***REMOVED***contentcenter{
	width: 900px;
	margin: auto;
}

***REMOVED***footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;	
}

***REMOVED***footer_inside{
	color: gray;
	text-align: center;
	height: 40px;
}

***REMOVED***flash_notice{
	color: green;
	border: 1px solid green;
	padding:15px;
	margin: auto;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	width: 750px;
}

/**HOME**/

***REMOVED***browse_listings_menu{
	float: left;
	padding-left: 75px;
	margin-top: -10px;
	width: 200px;
	height: 30px;
	text-align: left;
}

***REMOVED***home_display{
	width: 898px;
	height: 203px;
}

***REMOVED***display_up{
	width: 898px;
	height: 144px;
	background: url("../images/research_match_display_01.png");
}

***REMOVED***display_left{
	position: relative;
	left: -295px;
	width: 308px;
	height: 59px;
	background: url("../images/research_match_display_02.png");
}

***REMOVED***display_mid{
	position: relative;
	margin-left: 308px;
	width: 254px;
	height: 59px;
	background: url("../images/research_match_display_03.png");

}

***REMOVED***display_right{
	width: 336px;
	height: 59px;
	background: url("../images/research_match_display_04.png");
}

/**Menu**/

***REMOVED***department_speech{
	display: none;
}
***REMOVED***department_speech_top{
	width: 163px;
	height: 32px;
	background: url("../images/research_department_speechbubble_01.png");
}

***REMOVED***department_speech_bot{
	width: 163px;
	height: 37px;
	background: url("../images/research_department_speechbubble_02.png");
	z-index: 10;
}
/**BROWSE**/


/**Links**/

a { 
	color: ***REMOVED***abe68b; 
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
	

/**Error Formatting**/

.fieldWithErrors {
  color: red;
}

***REMOVED***errorExplanation {
  color: red;
}

/****REMOVED***errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: ***REMOVED***c00;
  color: ***REMOVED***fff;
}

***REMOVED***errorExplanation p {
  color: ***REMOVED***333;
  margin-bottom: 0;
  padding: 5px;
}

***REMOVED***errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}*/

