.job_table tr.job_table_row:hover {
    background-color: ***REMOVED***f5ffe2; 
}

.job_table tr.job_table_row td:hover {
    /* cursor: pointer; */
}

.job_table_left {
	width: 40%;
}
.job_odd {
	background: ***REMOVED***F0FFD2;
	

}

.job_even {
	background: none;
	

}

.job_padding_wrapper{
	vertical-align: middle;
	padding: 3px;
}

.job_title {
    padding-top: 4px;
    padding-bottom: 0px;
}

.job_desc {
    padding-top: 8px;
    padding-bottom: 4px;
}

.job_tags {
    margin-top: 3px;
    margin-bottom: 3px;
    /* margin-left: 8px; */
}

.job_credit {
	text-align: center;
	width: 10%;
}




***REMOVED***browse_results_wrapper{

}

***REMOVED***browse_results{
    /* drop shadow */
    -box-shadow: 0px 3px 10px ***REMOVED***ccc;  
    -moz-box-shadow: 0px 3px 10px ***REMOVED***ccc;  
    -webkit-box-shadow: 0px 3px 10px ***REMOVED***ccc;  
    

	border-right: 1px solid ***REMOVED***e2e2e2;
	border-left: 1px solid ***REMOVED***e2e2e2;
	border-bottom: 1px solid ***REMOVED***e2e2e2;
}

***REMOVED***browse_search_bar{
	text-align: center;
}

***REMOVED***browse_header{
	font-weight: bold;
	background: ***REMOVED***798493 url("../images/dashboard_box_grad_darker.png") repeat-x bottom left;
	color: white;
	width: 100%;
	height: 40px;
}

***REMOVED***browse_header_table{
	height: 40px;
	width: 100%;
}

***REMOVED***job_show_main p {
	margin-top: 5px;
	margin-bottom: 5px;
}

p***REMOVED***description {
	margin-left: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	border-left: 1px solid ***REMOVED***F0FFD2;
}


/* from application.css */


/*jobs*/

span.tag {
	background-color: ***REMOVED***eaeaea;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid ***REMOVED***ffffff;
	font-weight: bold;
	margin-left: 2px;
	margin-right: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.job_title{
	font-weight: bold;
}

.job_table {
	border: 0px;
	width: 100%;
}

.job_table_left {
	width: 50%;
}
.job_odd, .job_even {
	width: 100%;
	border-bottom: 1px solid ***REMOVED***abe68b;
}

.job_padding_wrapper{
	vertical-align: middle;
	padding: 3px;
}

.job_credit {
	text-align: center;
	width: 10%;
}
    .job_credit span.job_numpositions {
        
        font-size: 12pt;
    }
    
***REMOVED***browse_header_table{
	height: 40px;
	width: 100%;
	font-weight: bold;
}

.job_clear_table {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	color: ***REMOVED***333;
	border:0px;
}
.job_clear_table td {
	text-align:left;
	width:auto;
	padding:5px;
}input.wide {
    width: 300px;
}
.job_clear_table_label {
	width:150px;
}
.job_clear_table_field {
	width:350px;
}