span.tag {
	background-color: ***REMOVED***eaeaea;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 0px;
}

.job_title{
	font-weight: bold;
}

.job_table {
	border: 0px;
	width: 100%;
}

.job_table_left {
	width: 40%;
}
.job_odd {
	background: ***REMOVED***F0FFD2;
	width: 100%;

}

.job_even {
	background: white;	
	width: 100%;

}

.job_padding_wrapper{
	vertical-align: middle;
	padding: 3px;
}

.job_credit {
	text-align: center;
	width: 10%;
}

***REMOVED***browse_results{
	border-right: 1px solid ***REMOVED***C1C1C1;
	border-left: 1px solid ***REMOVED***C1C1C1;
	width: 100%;
}

***REMOVED***browse_search_bar{
	text-align: center;
}

***REMOVED***browse_header{
	font-weight: bold;
	background: ***REMOVED***798493;
	color: white;
	width: 100%;
	height: 40px;
}

***REMOVED***browse_header_table{
	height: 40px;
	width: 100%;
}