body { background-color: ***REMOVED***fff; color: ***REMOVED***333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: ***REMOVED***eee;
  padding: 10px;
  font-size: 11px;
}

a { color: ***REMOVED***000; }
a:visited { color: ***REMOVED***666; }
a:hover { color: ***REMOVED***fff; background-color:***REMOVED***000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

***REMOVED***errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: ***REMOVED***f0f0f0;
}

***REMOVED***errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: ***REMOVED***c00;
  color: ***REMOVED***fff;
}

***REMOVED***errorExplanation p {
  color: ***REMOVED***333;
  margin-bottom: 0;
  padding: 5px;
}

***REMOVED***errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

