<% content_for :title, "About Beehive" %>
<div class = "container">
	<h1>About Beehive</h1>

  <div class = "card">
  	<p>
  		<b>Vision</b>: Open access to research, for everyone. We aim to gather all research opportunities in one place, with easy ways to browse or search for projects. In addition, we also reach out to students and faculty to encourage higher participation in research.
  	</p>

  	<p>
  		<b>Story</b>: Beehive is an open-source project originally sponsored by the College of Engineering. It was started as a CS 169 (then CS 194-4) project in Fall 2009 under Prof. Armando Fox. Currently, Beehive's development is under the management of the <a href="http://asucocto.org" target="_blank">ASUC Office of the CTO</a>, and its <a href="https://github.com/asuc-octo/Beehive" target="_blank">source code</a> and full <a href="https://docs.google.com/document/d/1LN0ILxUudn9Q7nUrPh5X6h8teRxeGMdbP9eQGIFN7FM/edit?usp=sharing" target="_blank">product specs</a> are available for public perusal.
    </p>

    <p>
      <b>Join us</b>: Students interested in design, development, or faculty outreach are encouraged to join our team — we recruit new members at the beginning of each school year!
  	</p>

    <%= image_tag "BeehiveFlyerFinal.jpg", class: "center" %>

  	<h3>Current team</h3>
  	<ul>
  		<li>Leon Ming</li>
          <li>Joshua Yang</li>
          <li>Aakash Shukla</li>
          <li>Mary Liu</li>
          <li>Kaitlyn Gunadhi</li>
          <li>Rick Zhang</li>
          <li>Willy Wu</li>
          <li>Tonya Nguyen</li>
  	</ul>

  	<h3>Past members</h3>
    <ul>
      <li>Caroline Chen</li>
      <li>Sharie Wang</li>
      <li>Wilson Wang</li>
      <li>Michelle Fan</li>
      <li>Amy Shen</li>
      <li>Alex Hong</li>
  		<li>Colby Guan</li>
  		<li>Jessica Lie</li>
  		<li>Jack Pechac</li>
  		<li>Hendo Lim</li>
  		<li>Kevin Ma</li>
  		<li>Sean Huang</li>
      <li>Allen Zhu</li>
  		<li>Summer Kim</li>
  		<li>Charles Xue</li>
  		<li>Max Lam</li>
  		<li>Jessica Chang</li>
  		<li>Oren Blasberg</li>
      <li>Jonathan Ko</li>
      <li>Amber Feng</li>
      <li>Allen Chen</li>
  		<li>Prof. Armando Fox</li>
  	</ul>
  </div>
</div>
