<% content_for :title, "About Us" %>
<div class = "container">
	<h1>About Beehive</h1>

  <div class = "card">
    <h3>Story & Vision</h3>
    <p>
      Beehive is an open-source project originally sponsored by the College of Engineering. It was started as a CS 169 (then CS 194-4) project in Fall 2009 under Prof. Armando Fox. Currently, Beehive is being managed by students in the <a href="http://asucocto.org" target="_blank">ASUC Office of the CTO</a>.
    </p>
    <p>
  		As a year-round, student-run platform for undergraduate research at Berkeley, we aim to fill the gaps left behind by existing programs like URAP and SURF, which typically provide opportunities on a cyclical basis, have dedicated administrative staff, and award academic units. Beehive is especially valuable for faculty and graduate student researchers who wish to recruit undergraduates for <b>summer, informal, short-term, or otherwise off-cycle</b> projects (e.g. after the URAP deadline). As part of our collaboration with student representatives in the ASUC, we hope to encourage higher undergraduate participation in academic research.
  	</p>

    <h3>Information for Researchers Posting Projects</h3>
    <p>
      Any time during the year (including the Summer), Beehive allows you to post positions to find undergraduates who match the skills and interests you are seeking for your project team. If you are looking for undergraduate apprentices to work with you for the duration of a semester or more (and receive course credit) please also consider using the <a href="http://urap.berkeley.edu/" target="_blank">URAP</a> program. Beehive does not administer or oversee the student-researcher relationship&mdash;we simply provide a platform to connect you to qualified, passionate students. Compensation for research is at your discretion and can be discussed after selecting your final candidate(s).
    </p>
    <p>
      Finding an undergraduate would work like this:
      <ol>
        <li>Make a post of the project including information on the project details and preferred skills</li>
        <li>Receive applications from undergraduates</li>
        <li>Review applications and contact candidates</li>
        <li>Select candidate and discuss terms of work</li>
      </ol>
    </p>
    <p>
      It only takes a few minutes to post an opportunity on our site!
    </p>

    <h3>Information for Students Seeking Projects</h3>
    <p>
      Any time during the year (including the summer), Beehive allows you to search for positions in a variety of disciplines. Keep in mind that there are opportunities outside of your field/major that may be seeking your skills and experiences. Beehive does not guarantee that you will find a research position if there are multiple applicants for a project nor do we monitor the relationship between undergraduate and researcher&mdash;we simply connect you to projects. If you are looking to work with faculty during the school year with the option of receiving course credit, please also consider applying to <a href="http://urap.berkeley.edu/" target="_blank">URAP</a> at the beginning of each semester. With Beehive, researchers may choose to provide compensation on a per-project basis.
    </p>
    <p>
  		Feel free to browse our listings! Even if we don't have a position that suits your interests at this time, do check back often, particularly toward the beginning and end of each semester. We are always actively reaching out to faculty, staff, and grad students to expand the number of potential mentor-mentee relationships!
  	</p>
  </div>
  <div class = "card">
  	<h3>Current Development Team</h3>
  	<ul>
  		<li>Leon Ming</li>
      <li>Joshua Yang</li>
      <li>Aakash Shukla</li>
      <li>Mary Liu</li>
      <li>Kaitlyn Gunadhi</li>
      <li>Rick Zhang</li>
      <li>Willy Wu</li>
      <li>Tonya Nguyen</li>
  	</ul>

  	<!-- <h3>Past members</h3>
    <ul>
      <li>Caroline Chen</li>
      <li>Sharie Wang</li>
      <li>Wilson Wang</li>
      <li>Michelle Fan</li>
      <li>Amy Shen</li>
      <li>Alex Hong</li>
  		<li>Colby Guan</li>
  		<li>Jessica Lie</li>
  		<li>Jack Pechac</li>
  		<li>Hendo Lim</li>
  		<li>Kevin Ma</li>
  		<li>Sean Huang</li>
      <li>Allen Zhu</li>
  		<li>Summer Kim</li>
  		<li>Charles Xue</li>
  		<li>Max Lam</li>
  		<li>Jessica Chang</li>
  		<li>Oren Blasberg</li>
      <li>Jonathan Ko</li>
      <li>Amber Feng</li>
      <li>Allen Chen</li>
  	</ul> -->

    <h3>Advisors</h3>
    <ul>
      <li>Prof. Jeffrey Bokor, Chair of Electrical Engineering Division, CoE</li>
      <li>Prof. Armando Fox, Electrical Engineering & Computer Science, CoE</li>
      <li>Dr. Sean Burns, Director of the Office of Undergraduate Research & Scholarships</li>
      <li>Prof. Bob Jacobsen, Dean of Undergraduate Studies, L&S</li>
    </ul>
  </div>

  <div class = "card">
    <%= image_tag "BeehiveFlyerFinal.jpg", class: "center" %>
  </div>

</div>
