<% content_for :title, "About Us" %>
<div class = "container">
	<h1>About Beehive</h1>

  <div class = "card">
    <h3>Story & Vision</h3>
    <p>
      Beehive is an open-source project originally sponsored by the College of Engineering. It was started as a CS 169 (then CS 194-4) project in Fall 2009 under Prof. Armando Fox. Currently, Beehive is being developed by students in the <a href="http://asucocto.org" target="_blank">ASUC Office of the CTO</a>, and its <a href="https://github.com/asuc-octo/Beehive" target="_blank">source code</a> is available for public perusal.
    </p>
    <p>
  		As a year-round, student-run platform for undergraduate research at Berkeley, we aim to fill the gaps left behind by existing programs like URAP and SURF, which typically provide opportunities on a cyclical basis, have dedicated administrative staff, and award academic units. Beehive is especially valuable for faculty and graduate student researchers who wish to recruit undergraduates for <b>summer, informal, short-term, or otherwise off-cycle</b> projects (e.g. after the URAP deadline). As part of our collaboration with student representatives in the ASUC, we hope to encourage higher undergraduate participation in academic research.
  	</p>
    <p>
  		If you are a researcher looking for an undergraduate assistant, it only takes a few minutes to post the opportunity on our site! However, we can make no guarantee that you will find a suitable candidate.
  	</p>
    <p>
  		If you are an undergraduate student looking for opportunities, feel free to browse our listings! Even if we don't have a position that suits your interests at this time, do check back often, particularly toward the beginning and end of each semester. We are always actively reaching out to faculty, staff, and grad students to expand the number of potential mentor-mentee relationships!
  	</p>

  	<h3>Current team</h3>
  	<ul>
  		<li>Leon Ming</li>
      <li>Joshua Yang</li>
      <li>Aakash Shukla</li>
      <li>Mary Liu</li>
      <li>Kaitlyn Gunadhi</li>
      <li>Rick Zhang</li>
      <li>Willy Wu</li>
      <li>Tonya Nguyen</li>
  	</ul>

  	<!-- <h3>Past members</h3>
    <ul>
      <li>Caroline Chen</li>
      <li>Sharie Wang</li>
      <li>Wilson Wang</li>
      <li>Michelle Fan</li>
      <li>Amy Shen</li>
      <li>Alex Hong</li>
  		<li>Colby Guan</li>
  		<li>Jessica Lie</li>
  		<li>Jack Pechac</li>
  		<li>Hendo Lim</li>
  		<li>Kevin Ma</li>
  		<li>Sean Huang</li>
      <li>Allen Zhu</li>
  		<li>Summer Kim</li>
  		<li>Charles Xue</li>
  		<li>Max Lam</li>
  		<li>Jessica Chang</li>
  		<li>Oren Blasberg</li>
      <li>Jonathan Ko</li>
      <li>Amber Feng</li>
      <li>Allen Chen</li>
  	</ul> -->

    <h3>Advisors</h3>
    <ul>
      <li>Prof. Jeffrey Bokor, Chair of Electrical Engineering Division, CoE</li>
      <li>Prof. Armando Fox, Electrical Engineering & Computer Science, CoE</li>
      <li>Dr. Sean Burns, Director of the Office of Undergraduate Research & Scholarships</li>
      <li>Prof. Bob Jacobsen, Dean of Undergraduate Studies, L&S</li>
    </ul>
  </div>

  <div class = "card">
    <%= image_tag "BeehiveFlyerFinal.jpg", class: "center" %>
  </div>

</div>
