html{
  background-color: ***REMOVED***fff;
  color: ***REMOVED***333;
  height: 100%;
  width: 100%;
}

* html ***REMOVED***container {
  height: 100%;
  width: 100%;
}

p, ol, ul, td {
  font-family: 'Droid Sans', trebuchet ms, lucida grande, arial, helvetica, sans-serif;
  font-size: 14px;
  color: ***REMOVED***333;
  cursor: default;
}

select, input {
  font-family: 'Droid Sans', trebuchet ms, lucida grande, arial, helvetica, sans-serif;
}

textarea {
  font-family: 'Droid Sans', trebuchet ms, lucida grande, arial, helvetica, sans-serif;
  
}

pre {
  background-color: ***REMOVED***eee;
  padding: 10px;
  font-size: 11px;
}

h1 {
  padding-top: px;
  color: ***REMOVED***003060;
  margin-top: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size:30px;
}

h2, h3 {
  color: ***REMOVED***003060;
  margin-top: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size:20px;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white !important;
  height: 70px;
  .nav-bar {
    .beehive-logo {
      background: url("header_coe.gif") no-repeat center center;
      background-size: cover;
      width: 200px;
      height: 70px;
      background-size: contain;
    }
    .nav-bar-section {
      display: flex;
      li {
        padding: 5px 13px 5px 13px;
        text-align: center;
      }
      .nav-bar-text {
        padding-top: 25px;
        font-family: sans-serif;
        font-weight: 100;
      }
      .log-in {
        position: absolute;
        right: 10px;
      }
      .nav-bar-search {
        form {
          input***REMOVED***quicksearch_query {
            box-shadow: none;
            width: 200px;
            height: 35px;
            margin-top: 12px;
            margin-bottom: 12px;
            font-family: sans-serif;
            font-weight: 100;
            border-radius: 5px;
            padding-left: 10px;
          }
          input***REMOVED***quicksearch_query:focus {
            background-color: white;
            border-color: ***REMOVED***007095;
            color: ***REMOVED***007095;
          }
        }
      }
      a.user-dropdown-link {
        position: absolute;
        right: 0px;
        font-family: sans-serif;
        font-weight: 100;
        margin-top: 25px;
        margin-right: 30px;
      }
      .user-dropdown-list {
        width: 100px;
        position: absolute;
        left: -30px;
        border: 1px solid ***REMOVED***ddd;
        background-color: white;
        font-family: sans-serif;
        font-weight: 100;
        border-radius: 5px;
        margin-top: 5px;
        li:not(:first-child) {
          border-top: 1px solid ***REMOVED***ddd;
        }
      }
    }
  }
}

.top-bar-fade {
  position: fixed;
  margin-top: 70px;
  width: 100%;
  height: 20px;
  z-index: 5;
  background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0));
  background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0));
  background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0));
  background: linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0));
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid ***REMOVED***007095;
  position: absolute;
  right: -10px;
  top: 10px;
}


/**Layout**/

***REMOVED***everything {
  min-height: 100%;
  position: relative;
  width: 100%;
}

body > ***REMOVED***everything {
  height: auto;
  min-height: 100%;
}

***REMOVED***header {
  /* background-color: ***REMOVED***353d41; */
  padding:22px;
}


***REMOVED***searchbar {
  position: relative;
  text-align: right;
  right: 0px;
  /* top: 0px; */
}

***REMOVED***loginbar {
  position: relative;
  text-align: right;
  right: 0px;
  top: 10px;
  height: 30px;
}

***REMOVED***side {
  position: relative;
  float: right;
  right: 2em;
  top: -89px;
  height: 35px;
  a {
    display: inline;
  }
}

***REMOVED***header_tabs {
  /* background: ***REMOVED***A7D787; */
  /* background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(***REMOVED***A7D787), to(***REMOVED***a7d787), color-stop(.15,***REMOVED***D1F19F), color-stop(.85,***REMOVED***D1F19F)); */
  background: -moz-linear-gradient(0% 50% 0deg, ***REMOVED***a7d787, ***REMOVED***a7d787, ***REMOVED***d1f19f 15%, ***REMOVED***a7d787 85%);
  min-width: 1000px;
  height: 17px;
}

***REMOVED***tabs {
  width: 1000px;
  height: 0px;
  background: url("header_stripe.gif") no-repeat;
  margin: auto;
  ul {
    padding-top: 24px;
    li {
      -moz-box-shadow: 0px 2px 5px ***REMOVED***CCCCCC;
      -o-box-shadow: 0px 2px 5px ***REMOVED***CCCCCC;
      -webkit-box-shadow: 0px 1px 1px ***REMOVED***CCCCCC;
      /* box-shadow: 0px 2px 5px ***REMOVED***CCCCCC; */
      -moz-border-radius: 0px 0px 6px 6px;
      /* border-radius: 0px 0px 6px 6px; */
      /* background: ***REMOVED***A7D787; */
      /****REMOVED***D1F19F;*/
      /* background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(***REMOVED***D1F19F), to(***REMOVED***A7D787)); */
      background: -moz-linear-gradient(0% 50% 90deg, ***REMOVED***a7d787, ***REMOVED***d1f19f);
      padding: 10px;
      padding-top: 9px;
      padding-bottom: 7px;
      margin-right: -3px;
      font-size: 1.3em;
      color: ***REMOVED***666666;
      text-shadow: 0 1px 0 ***REMOVED***ddd;
      display: inline;
      &:hover {
        background: ***REMOVED***F7F7F7;
      }
      a {
        text-decoration: none;
      }
    }
  }
  a {
    color: ***REMOVED***333;
  }
}

***REMOVED***menu_bar {
  text-align: center;
}

***REMOVED***user-bar-greeting{
  color: ***REMOVED***AAA;
  background-color: ***REMOVED***53626F;
}

.inline-form-container form {
  display: inline-block;
}

/** Misc **/

.urgent, .caslogout {
  color: red;
  font-weight: bold;
}

span.required_field {
  color: ***REMOVED***FF0000;
}

.admin {
  border: 1px solid red;
  padding: 1em;
}

***REMOVED***shadowdown {
  /* background: url('../images/trans_down.png'); */
  background-repeat: x-repeat;
  height: 1px;
  min-width: 1000px;
  background-color: ***REMOVED***EEEEEE;
}

***REMOVED***content {
  /*padding: 50px;*/
  padding-top: 30px;
  /*padding-bottom: 40px;*/
  /*position: relative;
    top: -159px;*/
  .mailer {
    margin-left: 106px;
  }
}

***REMOVED***contentcenter {
}

***REMOVED***footer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100px;
  border-top: 1px solid ***REMOVED***ccc;
  overflow: hidden;
}

***REMOVED***footer_inside {
  text-align: center;
}

***REMOVED***flash_error, ***REMOVED***flash_notice {
  color: ***REMOVED***003060;
  background: ***REMOVED***f9ffea;
  border: 2px solid ***REMOVED***F0FFD2;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  width: 500px;
}

***REMOVED***flash_error {
  color: ***REMOVED***FF0000;
  background: ***REMOVED***f9ffea;
}

div.vertlist {
  padding-left: 30px;
  line-height: 20px;
}

input {
  &.wide {
    width: 300px;
  }
  &.extrawide {
    width: 400px;
  }
}

textarea.extrawide {
  width: 400px;
}

.box_shadow {
  /* drop shadow */
  box-shadow: 0px 3px 10px ***REMOVED***ccc;
  -moz-box-shadow: 0px 3px 10px ***REMOVED***ccc;
  -webkit-box-shadow: 0px 3px 10px ***REMOVED***ccc;
}

/**JqueryUI Style Fixes**/

.ui-autocomplete {
  max-width: 400px;
  max-height: 100px;
  overflow-y: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */

* html .ui-autocomplete {
  height: 100px;
}

/**HOME**/

***REMOVED***browse_listings_menu {
  float: left;
  padding-left: 75px;
  margin-top: -10px;
  width: 200px;
  height: 30px;
  text-align: left;
}

***REMOVED***home_display {
  width: 898px;
  height: 203px;
}

***REMOVED***display_up {
  width: 898px;
  height: 144px;
  background: url("../images/research_match_display_01.png");
}

***REMOVED***display_left {
  position: relative;
  left: -295px;
  width: 308px;
  height: 59px;
  background: url("../images/research_match_display_02.png");
}

***REMOVED***display_mid {
  position: relative;
  margin-left: 308px;
  width: 254px;
  height: 59px;
  background: url("../images/research_match_display_03.png");
}

***REMOVED***display_right {
  width: 336px;
  height: 59px;
  background: url("../images/research_match_display_04.png");
}

***REMOVED***login_box {
  background: ***REMOVED***e5feb4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
  border: 1px solid ***REMOVED***F0FFD2;
  text-align: center;
  margin: auto;
  width: 300px;
}

.left_margin {
  margin-left: 40px;
}

/**Menu**/

***REMOVED***department_speech {
  display: none;
}

***REMOVED***department_speech_top {
  width: 163px;
  height: 32px;
  background: url("../images/research_department_speechbubble_01.png");
}

***REMOVED***department_speech_bot {
  width: 163px;
  height: 37px;
  background: url("../images/research_department_speechbubble_02.png");
  z-index: 10;
}

***REMOVED***create_job_hidden {
  display: none;
}

/**Links**/

a {
  /* color: ***REMOVED***4a9820; */
  text-decoration: none;
}

***REMOVED***header a {
  /* color: ***REMOVED***abe68b; */
  /*color: ***REMOVED***4a9820;*/
}

a:hover {
  text-decoration: none;
}


.fieldWithErrors, ***REMOVED***errorExplanation {
  color: red;
}

table {
  display: block;
}
