
html{
  background-color: ***REMOVED***fff;
  color: ***REMOVED***333;
  height: 100%;
  width: 100%;
}

* html ***REMOVED***container {
  height: 100%;
  width: 100%;
}

p, ol, ul, td {
  font-family: 'Droid Sans', trebuchet ms, lucida grande, arial, helvetica, sans-serif;
  font-size: 14px;
  color: ***REMOVED***333;
  cursor: default;
}

select, input {
  font-family: 'Droid Sans', trebuchet ms, lucida grande, arial, helvetica, sans-serif;
}

textarea {
  font-family: 'Droid Sans', trebuchet ms, lucida grande, arial, helvetica, sans-serif;
  
}

pre {
  background-color: ***REMOVED***eee;
  padding: 10px;
  font-size: 11px;
}

h1 {
  padding-top: px;
  color: ***REMOVED***003060;
  text-shadow: 0 1px 0 ***REMOVED***ddd;
  margin-top: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size:30px;
}

h2, h3 {
  color: ***REMOVED***003060;
  text-shadow: 0 1px 0 ***REMOVED***ddd;
  margin-top: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size:20px;
}

/**Layout**/

***REMOVED***everything {
  min-height: 100%;
  position: relative;
  width: 100%;
}

body > ***REMOVED***everything {
  height: auto;
  min-height: 100%;
}

***REMOVED***header {
  /* background-color: ***REMOVED***353d41; */
  padding:22px;
}

.header_image {
  color: ***REMOVED***777777;
  height: 89px;
  background: url("header_coe.gif") no-repeat;
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

***REMOVED***searchbar {
  position: relative;
  text-align: right;
  right: 0px;
  /* top: 0px; */
}

***REMOVED***loginbar {
  position: relative;
  text-align: right;
  right: 0px;
  top: 10px;
  height: 30px;
}

***REMOVED***side {
  position: relative;
  float: right;
  right: 2em;
  top: -89px;
  height: 35px;
  a {
    display: inline;
  }
}

***REMOVED***header_tabs {
  /* background: ***REMOVED***A7D787; */
  /* background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(***REMOVED***A7D787), to(***REMOVED***a7d787), color-stop(.15,***REMOVED***D1F19F), color-stop(.85,***REMOVED***D1F19F)); */
  background: -moz-linear-gradient(0% 50% 0deg, ***REMOVED***a7d787, ***REMOVED***a7d787, ***REMOVED***d1f19f 15%, ***REMOVED***a7d787 85%);
  min-width: 1000px;
  height: 17px;
}

***REMOVED***tabs {
  width: 1000px;
  height: 0px;
  background: url("header_stripe.gif") no-repeat;
  margin: auto;
  ul {
    padding-top: 24px;
    li {
      -moz-box-shadow: 0px 2px 5px ***REMOVED***CCCCCC;
      -o-box-shadow: 0px 2px 5px ***REMOVED***CCCCCC;
      -webkit-box-shadow: 0px 1px 1px ***REMOVED***CCCCCC;
      /* box-shadow: 0px 2px 5px ***REMOVED***CCCCCC; */
      -moz-border-radius: 0px 0px 6px 6px;
      /* border-radius: 0px 0px 6px 6px; */
      /* background: ***REMOVED***A7D787; */
      /****REMOVED***D1F19F;*/
      /* background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(***REMOVED***D1F19F), to(***REMOVED***A7D787)); */
      background: -moz-linear-gradient(0% 50% 90deg, ***REMOVED***a7d787, ***REMOVED***d1f19f);
      padding: 10px;
      padding-top: 9px;
      padding-bottom: 7px;
      margin-right: -3px;
      font-size: 1.3em;
      color: ***REMOVED***666666;
      text-shadow: 0 1px 0 ***REMOVED***ddd;
      display: inline;
      &:hover {
        background: ***REMOVED***F7F7F7;
      }
      a {
        text-decoration: none;
      }
    }
  }
  a {
    color: ***REMOVED***333;
  }
}

***REMOVED***menu_bar {
  text-align: center;
}

***REMOVED***user-bar-greeting{
  color: ***REMOVED***AAA;
}

.inline-form-container form {
  display: inline-block;
}

/** Quick Search Bar **/

***REMOVED***quicksearch_form {
  margin: 0px 5px 0px 5px;
}

***REMOVED***quicksearch_query {
  background: ***REMOVED***FFF;
  border: none;
  border: 1px solid ***REMOVED***CCC;
  color: ***REMOVED***AAA;
  width: 150px;
  text-align: left;
  padding: 4px;
}

***REMOVED***quicksearch_button {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/** Misc **/

.urgent, .caslogout {
  color: red;
  font-weight: bold;
}

span.required_field {
  color: ***REMOVED***FF0000;
}

.admin {
  border: 1px solid red;
  padding: 1em;
}

***REMOVED***shadowdown {
  /* background: url('../images/trans_down.png'); */
  background-repeat: x-repeat;
  height: 1px;
  min-width: 1000px;
  background-color: ***REMOVED***EEEEEE;
}

***REMOVED***content {
  /*padding: 50px;*/
  padding-top: 30px;
  /*padding-bottom: 40px;*/
  /*position: relative;
    top: -159px;*/
  .mailer {
    margin-left: 106px;
  }
}

***REMOVED***contentcenter {
}

***REMOVED***footer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100px;
  border-top: 1px solid ***REMOVED***ccc;
  overflow: hidden;
}

***REMOVED***footer_inside {
  text-align: center;
}

***REMOVED***flash_error, ***REMOVED***flash_notice {
  color: ***REMOVED***003060;
  background: ***REMOVED***f9ffea;
  border: 2px solid ***REMOVED***F0FFD2;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  width: 500px;
}

***REMOVED***flash_error {
  color: ***REMOVED***FF0000;
  background: ***REMOVED***f9ffea;
}

div.vertlist {
  padding-left: 30px;
  line-height: 20px;
}

input {
  &.wide {
    width: 300px;
  }
  &.extrawide {
    width: 400px;
  }
}

textarea.extrawide {
  width: 400px;
}

.box_shadow {
  /* drop shadow */
  box-shadow: 0px 3px 10px ***REMOVED***ccc;
  -moz-box-shadow: 0px 3px 10px ***REMOVED***ccc;
  -webkit-box-shadow: 0px 3px 10px ***REMOVED***ccc;
}

/**JqueryUI Style Fixes**/

.ui-autocomplete {
  max-width: 400px;
  max-height: 100px;
  overflow-y: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */

* html .ui-autocomplete {
  height: 100px;
}

/**HOME**/

***REMOVED***browse_listings_menu {
  float: left;
  padding-left: 75px;
  margin-top: -10px;
  width: 200px;
  height: 30px;
  text-align: left;
}

***REMOVED***home_display {
  width: 898px;
  height: 203px;
}

***REMOVED***display_up {
  width: 898px;
  height: 144px;
  background: url("../images/research_match_display_01.png");
}

***REMOVED***display_left {
  position: relative;
  left: -295px;
  width: 308px;
  height: 59px;
  background: url("../images/research_match_display_02.png");
}

***REMOVED***display_mid {
  position: relative;
  margin-left: 308px;
  width: 254px;
  height: 59px;
  background: url("../images/research_match_display_03.png");
}

***REMOVED***display_right {
  width: 336px;
  height: 59px;
  background: url("../images/research_match_display_04.png");
}

***REMOVED***login_box {
  background: ***REMOVED***e5feb4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
  border: 1px solid ***REMOVED***F0FFD2;
  text-align: center;
  margin: auto;
  width: 300px;
}

.left_margin {
  margin-left: 40px;
}

/**Menu**/

***REMOVED***department_speech {
  display: none;
}

***REMOVED***department_speech_top {
  width: 163px;
  height: 32px;
  background: url("../images/research_department_speechbubble_01.png");
}

***REMOVED***department_speech_bot {
  width: 163px;
  height: 37px;
  background: url("../images/research_department_speechbubble_02.png");
  z-index: 10;
}

***REMOVED***create_job_hidden {
  display: none;
}

/**Links**/

a {
  /* color: ***REMOVED***4a9820; */
  text-decoration: none;
}

***REMOVED***header a {
  /* color: ***REMOVED***abe68b; */
  /*color: ***REMOVED***4a9820;*/
}

a:hover {
  text-decoration: none;
}

/**Error Formatting**/

.fieldWithErrors, ***REMOVED***errorExplanation {
  color: red;
}

/****REMOVED***errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: ***REMOVED***c00;
  color: ***REMOVED***fff;
  }
  
  ***REMOVED***errorExplanation p {
  color: ***REMOVED***333;
  margin-bottom: 0;
  padding: 5px;
  }
  
  ***REMOVED***errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  }*/

table {
  display: block;
}
