$ucb-blue: ***REMOVED***003262;
$ucb-orange: ***REMOVED***fdb515;

body {
  background-color: ***REMOVED***f3f3f3 !important;
}

body,div,h1,h2,h3,h4,h5,h6,a,li,ul,div,td,th,span {
  font-family: 'Lato', sans-serif !important;
}

.center {
  text-align: center;
}
.navbar {
  margin-bottom: 40px !important;
}
.navbar.navbar,
.navbar-default.navbar {
  background-color: white !important;
  color: ***REMOVED***022d63;
  box-shadow: rgb(222, 222, 222) 4px 4px 0px 0px;
}

.navbar .navbar-nav > li > a {
  color: ***REMOVED***022d63 !important;
}

h1 {
  margin-bottom: 30px !important;
}

hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.card {
  background-color: white;
  padding: 70px !important;
  margin-bottom: 20px;
  box-shadow: none !important;
  box-shadow: rgb(222, 222, 222) 4px 4px 0px 0px !important;
}

.card-x {
  padding: 30px !important;
}

a:hover {
  color: $ucb-blue !important;
}

input,
textarea {
  outline: none;
}

dt {
  text-transform: capitalize;
  line-height: 30px !important;
}

dd {
  line-height: 30px !important;
}

.btn-cal:not(.btn-link):not(.btn-flat) {
  background-color: ***REMOVED***003366 !important;
  a {
    color: white !important;
  }
  &:hover {
    background-color: ***REMOVED***1A436B !important;
  }
}

***REMOVED***flash_error, ***REMOVED***flash_notice {
  color: ***REMOVED***D5F5E2;
  background: ***REMOVED***1ABC9C;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 600px;
  height: 40px;
  box-shadow: ***REMOVED***16A085 2px 2px 0px 0px !important;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 100;
  -webkit-transition: right 0.5s linear;
  -moz-transition: right 0.5s linear;
  -o-transition: right 0.5s linear;
  transition: right 0.5s linear;
}

***REMOVED***flash_error {
  background: ***REMOVED***E74C3C;
  box-shadow: ***REMOVED***C0392B 2px 2px 0px 0px !important;
}